mixin footer()

  //Footer
  .container
      .row
        .col-12.col-md-6
          ul.footer__nav
            +nav_item( "" ) About
            +nav_item( "" ) Legal Information
            +nav_item( "" ) Legal Contact
            +nav_item( "" ) Terms Of Services
            +nav_item( "" ) Privacy Policy
        .col-12.col-md-6.text-right
          ul.footer__social
            +five-socials
  //./Footer
  script(type='text/javascript', src='js/main.js')
  script(type='text/javascript', src='js/bootstrap.js')
  script(type='text/javascript', src='js/popper.min.js')
  script(type='text/javascript', src='js/slick.min.js')
