include ../modules/navbar/navbar
include ../modules/counter/counter
include ../modules/navs/navs
include ../modules/clients
include ../modules/testimonials/testimonials
include ../modules/socials
include ../modules/cards/cards
include ../modules/progress/progress
include ../modules/breadcrumb/breadcrumb

doctype html
html
  include ../modules/head/head
  body
    block header
    block main
    block footer
