mixin intro_goal(goals)
  each goal in goals
    .card__goal.col-12.col-md-6
      .card__icon
        img(src=goal.icon)
      h3.card__ictitle= goal.ictitle
      p.card__detail= goal.detail
      a.card__more(href=goal.link)
        img(src="images/arrow.png")
