// ======================================================
// Layout :: Content
// ======================================================
.main-content {
  section {
    margin: 60px 0;
    &[title='aboutus'] {
      margin: 0;
      position: relative;
    }
    &[title='testimonials'] {
      padding: 40px 0;
    }
  }
  &__aboutintro {
    padding-left: 120px;
    padding-right: 50px;
  }
  &__heading {
    font-weight: $bold;
    text-transform: uppercase;
    line-height: 35px;
    &.line {
      text-transform: capitalize;
      position: relative;
      &:after {
        content: url('../images/line.png');
        display: block;
      }
    }
    &.over {
      position: absolute;
      background: #fff;
      top: 15px;
      left: -50px;
      padding: 20px;
    }
  }
  &__thumb {
    padding-right: 0;
    padding-left: 0;
    img {
      width: 100%;
    }
  }
  &__detail {
    font-family: $text-font;
    color: #333;
    line-height: 25px;
    .main-about & {
      margin-top: 150px;
    }
    .skill & {
      margin-bottom: 0;
      padding: 20px 0;
    }
  }
}
