// ======================================================
// Layout :: Nav Tabs
// ======================================================
.nav-tabs {
  display: flex;
  justify-content: center;
  list-style: none;
<<<<<<< HEAD
  border-bottom: none;
  margin-bottom: 20px;
  li {
    display: list-item;
    a {
      color: $primary;
      text-transform: uppercase;
      &:hover {
        background-color: transparent;
        border: none;
      }
    }
    .active {
      color: #333;
      font-weight: $bold;
      text-decoration: underline;
    }
=======
  li {
    display: list-item;
>>>>>>> e570d8f21db54e36a180e3fdea372d12ed313609
  }
}
