// ======================================================
// Layout :: Nav Tabs
// ======================================================
.tabs-project {
  display: flex;
  justify-content: center;
  list-style: none;
  border-bottom: none;
  margin-bottom: 20px;
  li {
    display: list-item;
    a {
      color: $primary;
      text-transform: uppercase;
      &:hover {
        background-color: transparent;
        border: none;
        color: #333;
      }
      &:focus {
        background-color: transparent;
        outline: inherit;
        color: #333;
      }
    }
  }
  .active {
    text-decoration: underline;
    color: #333;
  }
}
