// ======================================================
// Base :: Colors
// ======================================================
$primary-color: #f8f4ed;
$secondary-color: #cdb380;

.bg-yellow {
  background-color: $primary-color;
}
