// ======================================================
// Base :: Typography
// ======================================================
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i');

$text-font: 'PT Serif';

$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

body {
  font-size: 12.49px;
}
