mixin counter(page)
  section.counter
    .container
      .row
        .col-6.col-md-3
          .single-counter
            p.single-counter__number 46
            p.single-counter__title Project
        .col-6.col-md-3
          .single-counter
            p.single-counter__number 258
            p.single-counter__title Customers
        .col-6.col-md-3
          .single-counter
            p.single-counter__number 68
            p.single-counter__title Members
        .col-6.col-md-3
          .single-counter
            p.single-counter__number 2
            p.single-counter__title Countries
