mixin testimonials(page)
  .container
      .row
        .testimonials__content
          .item
            .item__avatar
              img(src="")
            .item__info
              .row
                .col-md-7
                  .item__left
                    p.item__name James Ross
                    p.item__position CEO - Snapchat
                .col-md-5.text-right
                  +socials
              p.item__quote
                | “Was looking for a clean, responsive theme to showcase several photos/posts.
                | Dino theme was a perfect fit and has been easy to maintain.”
          .item
            .item__avatar
              img(src="")
            .item__info
              .row
                .col-md-7
                  .item__left
                    p.item__name James Ross
                    p.item__position CEO - Snapchat
                .col-md-5.text-right
                  +socials
              p.item__quote
                | “Was looking for a clean, responsive theme to showcase several photos/posts.
                | Dino theme was a perfect fit and has been easy to maintain.”
