// ======================================================
// Components :: Buttons
// ======================================================
.btn {
  background-color: $primary;
  border-radius: inherit;
  color: #fff;
  font-size: 12.49px;
}
