// ======================================================
// Components :: Buttons
// ======================================================
.btn {
  background-color: $primary;
  border-radius: inherit;
  color: #fff;
  &__aboutus {
    text-transform: uppercase;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 70%;
  }
  &__introduction {
    float: right;
  }
  &__price {
    text-transform: uppercase;
    color: #333;
    font-weight: $bold;
    padding: 12px 35px;
    .#{$this}__highlight & {
      background: #333;
      color: #fff;
    }
  }
}
