mixin header(page)
  .header
  .container
    .row
      +nav("Dino Template", "dropdown_menu")
        +nav_item( "index.html", "active" ) Home
        +nav_item( "about.html" ) Portfolio
        +nav_item( "service.html" ) Service
        +nav_item( "" ) About
        +nav_item( "" ) Blog
        +nav_item( "" ) Contact
          //- +nav_divider
