mixin header(page)
  .header
  .container
    .row
<<<<<<< HEAD
      +nav("Dino", "dropdown_menu")
        +nav_item( "index.html", "active" ) Home
        +nav_item( "" ) Portfolio
        +nav_item( "service.html" ) Service
        +nav_item( "about.html" ) About
=======
      +nav("Dino Template", "dropdown_menu")
        +nav_item( "index.html", "active" ) Home
        +nav_item( "about.html" ) Portfolio
        +nav_item( "service.html" ) Service
        +nav_item( "" ) About
>>>>>>> e570d8f21db54e36a180e3fdea372d12ed313609
        +nav_item( "" ) Blog
        +nav_item( "" ) Contact
          //- +nav_divider
