extends layout/page.pug

include modules/head/head

block head
  +head(head.home)

block header
  include modules/header/header

block main
  .main-content
    section.main-about
      .container
        .row
          .col-12.col-md-6
            img(src="http://placehold.it/555x450")
          .col-12.col-md-6
            +breadcrumb({'#home': 'Home'}, 'About')
            h2.main-content__heading.over We are:<br/>Digital Creative Agency
            p.main-content__detail
              | Successful businesses have many things in common, today we’ll look at the big ‘R’of recognition
              | and how a digital advertising network may help.<br/><br/>
              | Recognition can be illustrated by two individuals entering a crowded room at a party.
              | Both walk to the far side of the room, one of them slips through the crowd easily and unnoticed as they reach the far side.<br/><br/>
              | The second person takes much longer to reach the far side because they are engaged in conversations
              | along the way as they continue to meet acquaintances and friends during their path.
              | Which type of person would you like to model your business after?
    section.skill
      .container
        .row
          .col-12.col-md-6
            h2.main-content__heading.line Awesome Skill
            p.main-content__detail
              | We all live in an age that belongs to the young at heart.
              | Life that is becoming extremely fast, day to day, also asks us to remain physically young.
            +progress(dataProgress.skills)
          .col-12.col-md-6
            img(src="http://placehold.it/555x450")
    section.ourteam
    .container
      .row
        h2.main-content__heading.line.text-center Our Team
      .row
        .col-12.col-md-4
          .card
            .card__image
              img(src="asset/images/logo.png")
            .card__info.text-center
              p.card__name James Ross
              p.card__position CEO - Snapchat
            .card__social.text-center
              ul.item__social
                li: a: i.fa.fa-facebook(aria-hidden='true')
                li: a: i.fa.fa-google-plus(aria-hidden='true')
                li: a: i.fa.fa-twitter(aria-hidden='true')
                li: a: i.fa.fa-behance(aria-hidden='true')
                li: a: i.fa.fa-dribbble(aria-hidden='true')
                li: a: i.fa.fa-instagram(aria-hidden='true')
        .col-12.col-md-4
                  .card
                    .card__image
                      img(src="asset/images/logo.png")
                    .card__info.text-center
                      p.card__name James Ross
                      p.card__position CEO - Snapchat
                    .card__social.text-center
                      ul.item__social
                        li: a: i.fa.fa-facebook(aria-hidden='true')
                        li: a: i.fa.fa-google-plus(aria-hidden='true')
                        li: a: i.fa.fa-twitter(aria-hidden='true')
                        li: a: i.fa.fa-behance(aria-hidden='true')
                        li: a: i.fa.fa-dribbble(aria-hidden='true')
                        li: a: i.fa.fa-instagram(aria-hidden='true')
        .col-12.col-md-4
          .card
            .card__image
              img(src="asset/images/logo.png")
            .card__info.text-center
              p.card__name James Ross
              p.card__position CEO - Snapchat
            .card__social.text-center
              ul.item__social
                li: a: i.fa.fa-facebook(aria-hidden='true')
                li: a: i.fa.fa-google-plus(aria-hidden='true')
                li: a: i.fa.fa-twitter(aria-hidden='true')
                li: a: i.fa.fa-behance(aria-hidden='true')
                li: a: i.fa.fa-dribbble(aria-hidden='true')
                li: a: i.fa.fa-instagram(aria-hidden='true')
    +counter
    section.reviews
      .container
        .row
          .client.col-12.col-md-6
            h2.main-content__heading.line Our Clients
            +clients
          .testimonials.col-12.col-md-6
            h2.main-content__heading.line Testimonials
            .testimonials__content.one-slick
              +testimonials(dataTests.items)

block footer
  .theme-dark
    include modules/footer/footer
