include modules/header/header
include modules/footer/footer
include modules/head/head
include modules/navbar/navbar
include modules/counter/counter
include modules/navs/navs
include modules/clients
include modules/testimonials/testimonials
include modules/socials
doctype html
html
  +head(head.home)
  body
    + header
    .main-content
      #carousel-example-generic2.carousel.slide.carousel-fullscreen.carousel-fade(data-ride='carousel')
        ol.carousel-indicators
          li.active(data-target='#carousel-example-generic2', data-slide-to='0')
          li(data-target='#carousel-example-generic2', data-slide-to='1')
        .carousel-inner(role='listbox')
          .item.active
            img(src='https://bootstrapious.com/tutorial/carousel/img/carousel1.jpg')
            .overlay
            .carousel-caption
              h1.super-heading Simplicity, wit, and good typography
          .item
            img(src='https://bootstrapious.com/tutorial/carousel/img/carousel2.jpg')
            .overlay
            .carousel-caption
              h1.super-heading Simplicity, wit, and good typography
        // Controls
        a.left.carousel-control(href='#carousel-example-generic2', role='button', data-slide='prev')
          span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
          span.sr-only Previous
        a.right.carousel-control(href='#carousel-example-generic2', role='button', data-slide='next')
          span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
          span.sr-only Next
      section.aboutus.bg-yellow(title='aboutus')
        .container-fluid
          .row
            .main-content__aboutintro.col-12.col-md-6
              h2.main-content__heading Dino creative<br/>agency
              p.main-content__detail
                | Successful businesses have many things in common,
                |today we’ll look at the big ‘R’of recognition and how a digital advertising network may help.
                <br/><br/>
                | Both walk to the far side of the room, one of them slips through the crowd easily and unnoticed as they reach the far side.
                | The second person takes much longer to reach the far side because they are engaged in conversations along the way as they continue to meet acquaintances and friends during their path. Which type of person would you like to model your business after?
            .main-content__thumb.col-12.col-md-6
              img(src='images/aboutus-thumb.png')
          .row
            a.btn.btn__aboutus Read more
      section.introduction
        .container
          .row
            .col-12.col-md-8
              .row
                .main-content__goal.col-12.col-md-6
                  .main-content__icon
                    img(src='images/ic-web.png')
                  h3.main-content__ictitle Web development
                  p.main-content__detail
                    | Nope! Sorry!
                    | Just sending out a few ads is not going to do it.
                    | Not if you want to be a real success.
                  a.main-content__more
                    img(src="images/arrow.png")
                .main-content__goal.col-12.col-md-6
                  .main-content__icon
                    img(src='images/ic-branding.png')
                  h3.main-content__ictitle Branding
                  p.main-content__detail
                    | Becoming more common due to rapid advancement of technology and the power of globalization.
                  a.main-content__more
                    img(src="images/arrow.png")
                .main-content__goal.col-12.col-md-6
                  .main-content__icon
                    img(src='images/ic-design.png')
                  h3.main-content__ictitle Design
                  p.main-content__detail
                    | Last month, my wife, Anne Doe, took me to Las Vegas because she had to go for a business convention.
                  a.main-content__more
                    img(src="images/arrow.png")
                .main-content__goal.col-12.col-md-6
                  .main-content__icon
                    img(src='images/ic-photo.png')
                  h3.main-content__ictitle Photography
                  p.main-content__detail
                    | Nope! Sorry!
                    | Just sending out a few ads is not going to do it.
                    | Not if you want to be a real success.
                  a.main-content__more
                    img(src="images/arrow.png")
            .introduction__intro.col-12.col-md-4.text-right
              h2.main-content__heading Make a customer,<br/>not a sale
              p.main-content__detail
                | You’ve a partner, a lovely child and most things aren’t running smoothly these days.
                | You’re not feeling down or depressed but you’re quickly irritated, a bit tensed and anxious.
                | Your spouse feels that situation and talks with you about it.
                | You wave the problems away telling they don’t exists.
              a.btn.btn__introduction That's not all, check out more
      +counter
      section.ourproject
        h2.main-content__heading.text-center Our Project
        ul#myTab1.nav.nav-tabs(role='tablist')
          li.nav-item
            a#allproject-tab.nav-link.active(data-toggle='tab', href='#allproject', role='tab', aria-controls='allproject', aria-selected='true') All Project
          li.nav-item
            a#web-tab.nav-link(data-toggle='tab', href='#web', role='tab', aria-controls='web', aria-selected='false') Web Development
          li.nav-item
            a#brand-tab.nav-link(data-toggle='tab', href='#brand', role='tab', aria-controls='brand', aria-selected='false') Branding
          li.nav-item
            a#design-tab.nav-link(data-toggle='tab', href='#design', role='tab', aria-controls='design', aria-selected='false') Design
          li.nav-item
            a#photo-tab.nav-link(data-toggle='tab', href='#photo', role='tab', aria-controls='photo', aria-selected='false') Photography
        #myTab1Content.tab-content
          #allproject.tab-pane.active(role='tabpanel', aria-labelledby='allproject-tab')
            .container-fluid
              .row
                .ourproject-card.col-12.col-md-3
                  img(src="")
                  div.ourproject-card__content
                    .ourproject-card__title
                      p IMPULSIVE, Adobe, Printing
                    .ourproject-card__tag
                      p #TakeTenContest
                    .ourporject-card__cat
                      p / BRANDING
                .ourproject-card.col-12.col-md-3
                .ourproject-card.col-12.col-md-3
                .ourproject-card.col-12.col-md-3
          #web.tab-pane.fade(role='tabpanel', aria-labelledby='web-tab')
          #brand.tab-pane.fade(role='tabpanel', aria-labelledby='brand-tab')
          #design.tab-pane.fade(role='tabpanel', aria-labelledby='design-tab')
          #photo.tab-pane.fade(role='tabpanel', aria-labelledby='photo-tab')
      section.testimonials.bg-yellow(title='testimonials')
        h2.main-content__heading.text-center Testimonials
        .container
          .row
            .testimonials__content.multi-slick
              +testimonials(dataTests.items)
      section.client
        h2.main-content__heading.text-center Our Happy Customers
        +clients
    +footer
      +homepage_footer
