extends layout/page.pug

include modules/head/head

block head
  +head(head.home)

block header
  include modules/header/header

block main
  .main-content
    section.ourproject
      .container
        h2.main-content__heading.line.text-center Our Project
        +tabs(dataSubject.tabsItems)
          each tab, index in dataSubject.tabsItems
            +tab(index)

block footer
  .theme-light
    include modules/footer/footer
